* {
	all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar-main {
	color: #b0b4bc;
	margin: 15px;
	padding: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.bar-section {
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 15;
}

.sep {
	color: rgba(200, 200, 200, 0.5);
}

.time {
	font-weight: bold;
	padding-right: 20px;
}

.alert {
	color: #aa5555;
	padding: 5px;
}

.regular {
	color: #b0b4bc;
	padding: 5px;
}

.active-workspace {
	background-color: rgba(150, 150, 150, 0.4);
	border-radius: 10;
	padding-left: 10px;
	padding-right: 10px;
}
